#form_container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 2rem auto 2rem auto;
    width: 50%;
    padding: 1rem;
}

#vote {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
}

#sub_btn {
    font-size: x-large;
    margin: 1rem auto 1rem auto;
    font-weight: bold;
}